<h1>Sign In</h1>

<form action="/users/create-session" method="POST" class="p-4">
  <input
    type="email"
    name="email"
    class="form-control mt-2"
    placeholder="Email"
    required
  />
  <input
    type="password"
    name="password"
    class="form-control mt-2"
    placeholder="Password"
    required
  />
  <input type="submit" class="btn btn-primary w-100 mt-2" value="Sign In" />
</form>
